<h3>{{ titlulo }} <button type="button" class="btn btn-success" (click)="mostrarForm()">+</button></h3>
<form [hidden]="is_hidden">
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Nombre</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="encarg.nombre" name="nombre" required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Tel&eacute;fono</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" placeholder="Tel&eacute;fono" [(ngModel)]="encarg.telefono" name="telefono" required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Tipo</label>
    <div class="col-sm-5">
      <select class="form-control" [(ngModel)]="encarg.tipo" name="tipo" required>
        <option *ngFor="let tipenca of tipoEncargado" [value]="tipenca.id">{{ tipenca.descripcion }}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <button type="submit" class="btn btn-primary mb-2" (click)="guardarEncargado()">Guardar</button>
  </div>
</form>
<br>
<table class="table table-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Tel&eacute;fono</th>
    <th scope="col">Tipo</th>
    <th scope="col">Opciones</th>
  </tr>
  <tr *ngFor="let enca of  encargado">
    <td scope="row">{{ enca.id }}</td>
    <td>{{ enca.nombre }}</td>
    <td>{{ enca.telefono }}</td>
    <ng-container *ngFor="let tipencargado of tipoEncargado">
      <ng-container *ngIf="enca.tipo === tipencargado.id">
        <td>{{ tipencargado.descripcion }}</td>
      </ng-container>
    </ng-container>
    <td><button type="button" class="btn btn-danger btn-sm">Borrar</button> &nbsp; <button type="button"
      class="btn btn-warning btn-sm">Editar</button></td>
  </tr>
</table>