<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Bienvenido al Sistema de Gesti&oacute;n de Recursos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" routerLink="recurso">Recurso</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="proveedor">Proveedor</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="encargado">Encargado</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="tipo_recurso">Tipo Recurso</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="tipo_encargado">Tipo Encargado</a></li>
      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>