<h3>{{ titlulo }} <button type="button" class="btn btn-success" (click)="mostrarForm()">+</button></h3>
<form [hidden]="is_hidden">
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Descripcion</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" placeholder="Descripcion" [(ngModel)]="tipoencar.descripcion"
        name="descripcion" required>
    </div>
  </div>
  <ng-container *ngIf="is_edit">
    <input type="hidden" [(ngModel)]="tipoencar.id" name="id" required>
  </ng-container>
  <div class="form-group row">
    <button type="submit" class="btn btn-primary mb-2" (click)="guardarTipoEncargado(is_edit)">Guardar</button>
  </div>
</form>
<br>
<table class="table table-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Descripci&oacute;n</th>
    <th scope="col">Opciones</th>
  </tr>
  <tr *ngFor="let tipencargado of  tipoEncargado">
    <td scope="row">{{ tipencargado.id }}</td>
    <td>{{ tipencargado.descripcion }}</td>
    <td><button type="button" class="btn btn-danger btn-sm"
        (click)="borrarTipoEncargado(tipencargado.id, tipencargado.descripcion)">Borrar</button> &nbsp; <button
        type="button" class="btn btn-warning btn-sm" (click)="mostrarForm(tipencargado)">Editar</button></td>
  </tr>
</table>