<h3>{{ titlulo }} <button type="button" class="btn btn-success" (click)="mostrarForm()">+</button></h3>

<form [hidden]="is_hidden">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Serial</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" placeholder="Serial" [(ngModel)]="recurso.serial" name="serial" required>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Tipo</label>
    <div class="col-sm-5">
      <select class="form-control" [(ngModel)]="recurso.tipo" name="tipo" required>
        <option *ngFor="let tipRecurso of tipoRecurso" [value]="tipRecurso.id">{{tipRecurso.descripcion}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Proveedor</label>
    <div class="col-sm-5">
      <select class="form-control" [(ngModel)]="recurso.proveedor" name="proveedor" required>
        <option *ngFor="let prov of proveedor" [value]="prov.id">{{prov.nombre}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Estado</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" placeholder="Estado" [(ngModel)]="recurso.estado" name="estado" required>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Encargado</label>
    <div class="col-sm-5">
      <select class="form-control" [(ngModel)]="recurso.encargado" name="encargado" required>
        <option *ngFor="let enca of encargado" [value]="enca.id">{{ enca.nombre }}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Marca</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" placeholder="Marca" [(ngModel)]="recurso.marca" name="marca" required>
    </div>
  </div>
  <ng-container *ngIf="is_edit">
    <input type="hidden" [(ngModel)]="recurso.id" name="id" required>
  </ng-container>

  <div class="form-group row">
    <button type="submit" class="btn btn-primary mb-2" (click)="guardarRecurso(is_edit)">Guardar</button>
  </div>
</form>
<br>
<table class="table table-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Serial</th>
    <th scope="col">Tipo</th>
    <th scope="col">Proveedor</th>
    <th scope="col">Estado</th>
    <th scope="col">Encargado</th>
    <th scope="col">Fecha Asignaci&oacute;n</th>
    <th scope="col">Marca</th>
    <th scope="col">Opciones</th>
  </tr>
  <tr *ngFor="let recurso of recursos">
    <td scope="row">{{ recurso.id }}</td>
    <td>{{ recurso.serial }}</td>
    <ng-container *ngIf="recurso.tipo === null">
      <td class="text-danger">
        SIN INFORMACI&Oacute;N
      </td>
    </ng-container>
    <ng-container *ngFor="let tipRecurso of tipoRecurso">
      <ng-container *ngIf="recurso.tipo === tipRecurso.id">
        <td>
          {{ tipRecurso.descripcion }}
        </td>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="recurso.proveedor === null">
      <td class="text-danger">
        SIN INFORMACI&Oacute;N
      </td>
    </ng-container>
    <ng-container *ngFor="let prov of proveedor">
      <ng-container *ngIf="recurso.proveedor === prov.id">
        <td>{{ prov.nombre }}</td>
      </ng-container>
    </ng-container>
    <td>{{ recurso.estado }}</td>
    <ng-container *ngIf="recurso.encargado === null">
      <td class="text-danger">
        SIN INFORMACI&Oacute;N
      </td>
    </ng-container>
    <ng-container *ngFor="let enca of encargado">
      <ng-container *ngIf="recurso.encargado === enca.id">
        <td>{{ enca.nombre }}</td>
      </ng-container>
    </ng-container>
    <td>{{ recurso.fechaAsignacion }}</td>
    <td>{{ recurso.marca }}</td>
    <td><button type="button" class="btn btn-danger btn-sm"
        (click)="borrarRecurso(recurso.id, recurso.serial)">Borrar</button> &nbsp;
      <button type="button" class="btn btn-warning btn-sm" (click)="mostrarForm(recurso)">Editar</button></td>
  </tr>
</table>